/* CSS code for the fonts integration
** added by criscom
** this file contains general font declarations that apply to fonts across the site
1. 

*/

body {
    @extend %base-font-size;
    @extend %base-font-weight;
    color: $font-color;
}

// All paragraphs with the 'p' tag
// UBUNTU LIGHT 18PT
// Font weight: 300;
[role='main']
{
    p,
    ul li,
    ol li
    {
        @extend %base-font-size;
        @extend %base-font-weight;
        color: $font-color;
    }
}

.field-name-field-document,
.download-file {
    a {
        &:hover {
            color: lighten($font-color, 15%);
            text-decoration: none;
        }
    }
}

.field-name-field-document > span {
    display: block;
}

// all inline links within a div tag

.inline-link
{
    @include link-colors($normal: $black, $hover: lighten($black, 15%), $visited: $black);
    text-decoration: underline;
    font-weight: 300;
}

div p a,
.wohnungsdetails-link a,
li a,
ol a,
.link a,
.field-slideshow-caption-text a,
.group-right .field a,
.group-right .field p a,
.field-name-field-document a
{
    @extend .inline-link;
    &:hover {
        text-decoration: none;
    }
}

// header font weight

h1 {
    @extend %base-font-weight;
}

// hover color for link-less headers and titles

.page-panels h1, // general header of panels page
.panel-display .panle-panel h2, // header of a panel
h1.object-title, // wohnung content type
.page-title, // wohnung content list-style-type
.node-wohnung .group-top h2, // wohnung content type
.header-hover // general declaration
{
    &:hover {
        color: $brand-primary;
    }
}
