/* CSS code for footer
**
** view mode: fields
** added by criscom
**
*/

.footer
{
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;

    border-top: 1px dotted black;
    background: white;
}

.no-flexbox .footer-wrapper
{
    @include breakpoint($tablet)
    {
        .block
        {
            float: left;
        }
    }
}

.footer-wrapper
{
    @include breakpoint($tablet)
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;

        margin-top: 16px;
        margin-top: 1rem;

                flex-direction: row;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .block p
    {
        margin: 0;
        padding-left: 2px;
    }
    @include breakpoint($tablet) {
        .block:first-child {
            padding-left: 10px;
        }
    }
    
    .block:last-child
    {
        @include breakpoint($desktop)
        {
            margin-right: 60px;
            margin-right: 3.75rem;
        }
    }
}

.footer-content
{
    a
    {
        text-decoration: none;
        &:hover
        {
            text-decoration: underline;
        }
    }
}

.footer-label
{
    display: inline-block;

    width: 12px;
    width: .75rem;
    margin-right: 8px;
    margin-right: .5rem;
}

// .no-flexboxtweener,
// for IE 10
.no-flexbox
{
    .footer-wrapper .block
    {
        float: left;

        padding-right: 2%;
    }
}

@include breakpoint($range481-767)
{
    // normal styling for iphones excluding ipad
    .footer-wrapper .block
    {
        float: left;

        padding-right: 2%;
    }
}

@include breakpoint($range0-480)
{
    .footer-wrapper .block,
    .footer-wrapper .menu-block-wrapper
    {
        float: none !important;

        margin: 0;
        padding: 0;
        ul
        {
            padding: 0;
        }
    }
    .footer-wrapper .block:first-child
    {
        margin: 0;
        padding: 0;
    }
}
