/* CSS code for footer
**
** view mode: fields
** added by criscom
**
*/

.footer {
    padding-top: 0;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dotted black;
}

.footer-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-top: 1rem;
    .block p {
        margin: 0;
        .footer-label {
            padding-right: 16px;
            padding-right: 1rem;
        }
    }
    .block:first-child {
        padding-left: 10px;
    }
    .block:last-child {
        @include breakpoint($desktop)
            {
            margin-right: 60px;
            margin-right: 3.75rem;
        }
    }
}