/* CSS code for footer
**
** view mode: fields
** added by criscom
**
*/

.footer {
    padding-top: 0;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dotted black;
}

.no-flexbox .footer-wrapper {
        @include breakpoint($desktop) {
            .block {
                float: left;
            }
    }
}

.footer-wrapper {
    @include breakpoint($desktop){    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
        }
    
    margin-top: 16px;
    margin-top: 1rem;
    .block p {
        margin: 0;
        .footer-label {
            padding-right: 16px;
            padding-right: 1rem;
        }
    }
    .block:first-child {
        padding-left: 10px;
    }
    .block:last-child {
        @include breakpoint($desktop)
            {
            margin-right: 60px;
            margin-right: 3.75rem;
        }
    }
}

.footer-content {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Absolute positioning of footer to get it to the bottom of the page


    // #page  {
    //     min-height: 100%;
    //     position: relative;
    // }
    
    // #main {
    //     padding-bottom: 112px; /* Height of the footer */
    // }
    
    // .footer {
    //    position:absolute;
    //    z-index: 1100;
    //    bottom:0;
    //    width:100%;
    //    height:112px;   /* Height of the footer */
    // }