/* CSS code for front page ==> page view ""
**
** view name: frontpage feature
** display powered by Views
** views mode: fields
** added by criscom
** /frontpage-feature
**
*/

// Alignment of content elements inline via flexbox

.view-frontpage-feature {
    padding-top: 16px;
    padding-top: 1rem;
    @include clearfix();
    @include breakpoint($desktop) {
        >.view-header {
            float: left;
            width: 25%;
        }
        >.view-content {
            float: left;
            width: 75%;
        }
    }
}

// Apply background for the body text

.view-frontpage-feature .views-row {
    background-color: $box;
}

.view-frontpage-aktuell .views-row {
    // fix alignment problem on iPad mini 
    // https://www.evernote.com/l/ARB4z5EHZa9I_L_LO6md5kuyqeNrUtzus7s
    @media (min-width: 1001px) and (max-width: 1030px) {
        min-height: 324px;
    }
}
// Position title and ort as a layer over the image with position:absolute

.feature-wrapper-outer {
    position: relative;
}

.feature-wrapper-inner {
    position: absolute;
    top: 10px;
    top: .625rem;
    width: 96%;
    height: auto;
    max-width: 840px;
    max-height: 526px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}

.front-title {
    margin: 2px 0 0 0;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    line-height: 1.5rem;
}

.feature-datum {
    font-weight: 300;
}

.front .views-field-body {
    p {
        margin: 0;
    }
}

.feature-link,
.article-link {
    text-align: center;
    a {
        color: $font-color;
        font-weight: 300;
        text-transform: uppercase;
        &:hover {
            color: lighten($font-color, 15%);
            text-decoration: underline;
        }
    }
}

// Align Title for Artikel view 
.section-title.front {
    margin-top: 4px;
    margin-top: .25rem;
    line-height: 32px;
    line-height: 2rem;
}