/* CSS code for frontpage BLOCK
**
** view name: frontpage article
** display powered by Views
** views mode: fields
** added by criscom
** block system
**
*/

// Alignment of content elements inline via flexbox

.view-frontpage-aktuell {
    padding-top: 16px;
    padding-top: 1rem;
    @include clearfix();
    @include breakpoint($desktop) {
        >.view-header {
            float: left;
            @include block-first-width;
            h2 {
                margin-left: 10px;
            }
        }
        >.view-content {
            float: left;
            @include block-second-width;
        }
    }
}

// Apply background for the body text

.view-frontpage-aktuell .views-row {
    background-color: $box;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    @include breakpoint ($tablet){
        width: 49%;
        float: left;
    }
    &-odd {
        margin-right: 1%;
        clear: left;
    }
    &-even {
        margin-left: 1%;
    }
}

.article-bilder img{
    display: block;
    margin: 0 auto;
}

// Position title and ort as a layer over the image with position:absolute

.article-wrapper-outer {
    position: relative;
}

.article-wrapper-inner {
    position: absolute;
    top: 4px;
    top: .375rem;
    width: 96%;
    height: auto;
    max-width: 840px;
    max-height: 526px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}


.article-datum {
    font-weight: 300;
}

.artikel-body {
    font-weight: 300;
}

.article-link {
    text-align: center;
    a {
        color: $font-color;
        font-weight: 600;
        text-transform: uppercase;
        &:hover {
            color: lighten($font-color, 15%);
            text-decoration: underline;
        }
    }
}