/* CSS code for the header section
** added by criscom
** on all pages
** different header heights for frontpage and other pages
** no drupal logo in use
*/

.header {
    padding-top: .5rem;
    padding-top: 8px;
    background: white;
    // margin-left: auto;
    // margin-right: auto;
    border-bottom: 1px dotted black;
    @include breakpoint($iphone5-6) {
        padding-top: 40px;
        padding-top: 2.5rem;
        padding-bottom: 20px;
    }
}

.header-wrapper {
  margin-top: 16px;
  margin-top: 1rem;
}

.logo-wrapper {
  float: left;
  width: 40%;
  padding: 0;
  margin-top: 32px;
  margin-top: 2rem;
  @include breakpoint($desktop) {
    width: 23%;
    margin: 18px 1.4% 0 0;
  }
}

.header__logo-image {
    width: 100%;
    max-width: 100%; 
}

.header__region {
  float: right;  
  margin: 0;
  padding: 0;
  width: 20%;
  clear: none;
  @include breakpoint($desktop){
    margin-left: 1%;
    width: 3%;
  }
  .block {
    text-align: right;
    margin-bottom: 0;
  }
}

.header-link-1 img,
.header-link-2 img {
    width: 50px;
    height: 50px;
    max-width: 100%;
    @include breakpoint($desktop) {
      width: 100%;
      height: auto;

    }
    // text-align: right;
}

.header-link-2 img {
    margin-top: 8px;
    margin-top: .5rem;
    // margin-left: 4px;
    @include border-radius(28px);
}