/* CSS code for the main menu on desktop
** added by criscom
** NICE MENUS STYLING
** on all pages
** min-width: 768px
** 
*/

// Style nice menus

.region-navigation,
.main-navigation {
    // display: block;
    padding: 0;
    -ms-flex-preferred-size: 70%;
        -webkit-flex-basis: 70%;
            flex-basis: 70%;
}

#block-menu-block-1 ul.menu,
ul.nice-menu
{
    // margin-top: 50px;
  padding-left: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-right: 1rem;
  width: 100%;
    // margin-left: $nav-margin;
}

#block-menu-block-1 ul.menu li,
ul.nice-menu li
{
    border: 0;
    background-color: transparent;
    // background-color: white;
    padding-top: 8px;
    padding-bottom: 12px;

    &.first {
        padding-left: 0;
    }
    &.last {
        padding-right: 0;
        -ms-flex-item-align: end;
            -webkit-align-self: flex-end;
                align-self: flex-end;
    }
    
    a
    {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-style: italic;
        @extend %base-font-size;
        &:hover {
          color: lighten($font-color, 15%);
          text-decoration: underline;
        }
       &:visited {
        color: $font-color;
       }
        // @extend %base-font-weight;
        // padding-right: 0 !important;
    }
    &.active-trail {
        // background-color: white !important;
        // border-top-left-radius: 4px;
        // border-top-right-radius: 4px;
        a
            {
            color: lighten($font-color, 15%);
            text-decoration: underline;
            &:hover {
                color: black !important;
                text-decoration: none;
            }
            }
    }
}

.menu__item.is-leaf {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}
