/* CSS code for the main menu on desktop
** added by criscom
** NICE MENUS STYLING
** on all pages
** min-width: 768px
** 
*/

// Hide responsive menu
@include breakpoint($desktop)
{
    .responsive-menus
    {
        // display: none;
    }
}

// Style nice menus

ul.nice-menu
{
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include breakpoint($xlarge) {
        width: 940px;
    }
    // margin-left: $nav-margin;
}

ul.nice-menu li
{
    border: 0;
    background-color: transparent;
    // background-color: white;
    padding-top: 8px;
    padding-bottom: 12px;
    &.first {
            padding-left: 12px;
            padding-left: .75rem;;
    }
    @include breakpoint($range768-799) {
        padding-right: 4px;
        padding-right: .25rem;
        padding-left: 4px;
        padding-left: .25rem;
        &.first {
            padding-left: 12px;
            padding-left: .75rem;
        }


    }
    @include breakpoint($range800-876) {
        padding-right: 8px;
        padding-right: .5rem;
        padding-left: 8px;
        padding-left: .5rem;
    }
    @include breakpoint($range877-979) {
        padding-right: 20px;
        padding-right: 1.25rem;
        padding-left: 20px;
        padding-left: 1.25rem;
        &.first {
            padding-left: 12px;
            padding-left: .75rem;
        }
    }
    @include breakpoint($range980-1049) {
        padding-right: 32px;
        padding-right: 2rem;
        padding-left: 32px;
        padding-left: 2rem;
        &.first {

        }
    }
    @include breakpoint($range1050-1199) {
        padding-right: 40px;
        padding-right: 2.5rem;
        padding-left: 40px;
        padding-left: 2.5rem;
    }
    @include breakpoint($xlarge) {
        padding-right: 8px;
        padding-right: .5rem;
        padding-left: 8px;
        padding-left: .5rem;
        &.first {
            padding-left: 0;
        }
    }

    &.last {
        padding-right: 0;
    }
    a
    {
        text-decoration: none;
        // text-transform: uppercase;

        @extend %base-font-size;
        @include link-colors($normal: $black, $hover: $red!important);
        // @extend %base-font-weight;
        // padding-right: 0 !important;
    }
    &.active-trail {
        background-color: white !important;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        a
            {
            color: black;
            &:hover {
                color: black !important;
            }
            }
    }
}

ul.nice-menu-down
{
    li.menuparent,
    li.menuparent:hover
    {
        background-color: transparent;
        background-image: none;
    }
}

// secondary menus 

ul.nice-menu ul
{
    top: 50px;
    top: 3.125rem;

    border-top: 0;
    background-color: white;
    li
    {
        a
        {
            text-decoration: none;

            @include link-colors($normal: black, $hover: $red, $visited: black, $active: $red);
        }
    }
}
