/* CSS code for content type 'passwort-page' ==> "Passwort geschützte Seite"
**
** machine name: page_password
** display powered by DS
** added by criscom
** 
**
*/

// stylings for node
.logged-in.node-type-page-password {
    h1, .node-page-password {
        float: none;
        width: 100%;
    }
}

@include breakpoint($tablet){
    .page-protected-page h1 // stylings for password page
    {
        float: left;
        // width: 25%;
        @include block-first-width;
        h1 {
            padding-left: 10px;
        }
    } 
    .node-page-password,
    .page-protected-page form  // stylings for password page
      {
        float: left;
        // width: 75%;
        @include block-second-width;
    }
}

.node-page-password
 {
    padding-top: 28px;
    padding-top: 1.75rem;
    padding-right: 16px;
    padding-right: 1rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    .field-name-body {
        p:first-child {
            margin-top: 0;
        }
    }
}

// stylings for password page


#protected-pages-enter-password {
    fieldset {
        padding-top: 28px;
        padding-top: 1.75rem;
        border: 0;
        font-weight: 300;
    }
}

#edit-protected-page-enter-password {
    padding-right: 0;
    padding-left: 0;
}


