/* CSS code for password protected landing page => page view
**
** view name: Password protected 
** display powered by Views
** view mode: fields
** added by criscom
** /projekte
**
*/


// Alignment of content elements inline via floats

.view-password-protected {
    padding-top: 16px;
    padding-top: 1rem;
    @include clearfix();
    @include breakpoint($tablet){
        >.view-header {
            float: left;
            // width: 25%;
            @include block-first-width;
            h1 {
                padding-left: 10px;
            }
        }
        >.view-content {
            float: left;
            // width: 75%;
            @include block-second-width;
            padding-top: 1px;
            padding-top: .625rem;
            .views-row {
                a {
                    font-weight: 300;
                    text-decoration: underline;
                    color: $font-color;
                    &:hover {
                        text-decoration: none;
                        color: lighten($font-color, 15%);
                    }
                }
            }
        }
    }
}