/* Additional CSS code for print
**
** extends components/print.css
**
*/

@media print {
    // hide visible URL after links
    .logo-wrapper,
    .main-content,
    .feature-link,
    .article-link,
    h2.project-title,
    .field-name-body div,
    .field-name-body p,
    .download-file li,
    span.telephone,
    span.email,
    .panel-body p // Biografie
     {
        a[href]:after {
            content: " " !important;
        }
    }
    .element-invisible {
        display: none;
    }
}

@media print
{
    #block-block-4 {
        display: none; // hide facebook and outinverse icon
    }

    .region-navigation,
    .main-navigation
    {
        display: none; // hide whole naviation
        float: left;

        width: 10%;
        margin-right: 0;
        padding: 0;
    }

    #block-menu-block-1 ul.menu,
    ul.nice-menu
    {
        width: 100%;
        margin: 0;
        // margin-top: 50px;
        padding-left: 0;

        // margin-left: $nav-margin;
    }

    #block-menu-block-1 ul.menu li,
    ul.nice-menu li
    {
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 12px;

        border: 0;
        background-color: transparent;
        &.first
        {
            padding-left: 0;
        }
        &.last
        {
            padding-right: 0;
        }
        a
        {
            font-weight: 600;

            text-decoration: none;
            text-transform: uppercase;
            // font-style: italic;

            color: lighten($font-color, 15%);

            font-size: 16px;
            &:hover
            {
                text-decoration: underline;

                color: lighten($font-color, 25%);
            }
            &:visited
            {
                color: lighten($font-color, 15%);
            }
            // @extend %base-font-weight;
            // padding-right: 0 !important;
        }
        &.active-trail
        {
            // background-color: white !important;
            // border-top-left-radius: 4px;
            // border-top-right-radius: 4px;
            a
            {
                text-decoration: none;

                color: black;
                &:hover
                {
                    text-decoration: none;

                    color: black !important;
                }
            }
        }
    }

    .menu__item.is-leaf
    {
        list-style: none;
        list-style-type: none;
        list-style-image: none;
    }
}

// hide long urls on project pages in sidebar

@media print {
    .group-right {
        .field-name-field-projekt-ort,
        .field-name-field-projekt-status,
        .field-name-field-projekt-kategorie,
        .field-name-field-projekt-bauherr,
        .field-name-field-projekt-wettbewerb,
        .field-name-field-projekt-team,
        .field-name-field-projekt-abbildungen,
        .field-name-field-projekt-links {
            a[href]:after {
                content: " " !important;
            }
        }
    .service-links a[href]:after {
        content: " " !important;
        }
    }
}

// Print stylings for firefox

@media print {
    .view-frontpage-aktuell{ // Aktuelles Frontpage
        >.view-header {

        }
        .view-content {
            margin-left: 25%!important;
            .views-row {
                page-break-inside: avoid;
            }
        }
    }
    .view-projekte-isotope-view { // Projekte landing page
        >.view-header > .view {
            display: none;
        }
        >.view-content {
            margin-left: 10%!important; // only 10% because we want to see the full second column; otherwise it would be cut off.
            .views-field-body {
                page-break-inside: avoid;
            }
        }
    }
    .node-type-projekt.not-logged-in .node-projekt { // Projekte detail
        margin-left: 25%!important;
    }
    .page-node .view-content { // Partnerinnen view on Büro page
        margin-left: 25%!important;
    }
    .view-partnerinnen-und-mitarbeiter .views-row { // Mitarbeiter on Büro
        page-break-inside: avoid;
    }
    .page-node.not-logged-in .node-page { // KISS
        margin-left: 25% !important;
        .group-left {
            width: 100%;
        }
        .group-right {
            display: none;
        }
    }
    .section-kontakt { // On the Kontakt page we want to see the footer
        .footer {
            display: inherit !important;
            visibility: inherit !important;
            a[href]:after {
                content: " " !important;
            }
        }
    }
}
