/* CSS code for projekte landing page => page view
**
** view name: Projekte Isotope View
** display powered by Views
** view mode: fields
** added by criscom
** /projekte
**
*/

// Alignment of content elements inline via floats

.view-projekte-isotope-view {
    @include breakpoint($tablet){
        >.view-header {
            float: left;
            width: 25%;
        }
        >.view-content {
            float: left;
            width: 75%;
    
        }
    }
}


.isotope-filters {
    @include breakpoint($tablet){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;}
}

.isotope-element {
    @include breakpoint($tablet){
        width: 403px;
        height: 252px;
        img {
            width: 403px;
        }
    }
}

.projekte-wrapper {
    position: relative;
}

.projekte-titel,
.projekte-ort {
    position: absolute;
}

.projekte-titel {
    top: 0;
}

.projekte-ort {
    top: 24px;
}