/* CSS code for projekte Content Type
**
** display powered by Display suite
** view mode: view-mode-full
** added by criscom
** /projekte/node:title
**
*/


// Alignment of content elements inline via flexbox
// @include breakpoint($desktop){
//     .node-type-projekt.not-logged-in { // when logged in the tabs break the design
//         .main-content {
//             display: flex;
//             -webkit-flex-direction: row;
//             -webkit-flex-direction: row;
//             flex-direction: row;
//             align-items: flex-start;
//         }
//     }
// }

// Alignment of content elements inline via float
@include breakpoint($tablet) {
    .node-type-projekt.not-logged-in h1 {
        float: left;
        width: 25%;
    }
    .node-type-projekt.not-logged-in .node-projekt {
        float: left;
        width: 75%;
    }
}

// alignment of the whole node adjusting the spacing btw navigation and slider image 
.node-projekt {
    padding-top: 16px;
    padding-top: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
}

.flexslider {
    border: 0;
    border-radius: 0;
    // box-shadow: none;
    margin-bottom: 1.5tem;
    margin-bottom: 24px;
}

.node-projekt h2 {
    margin-top: 0;
    font-weight: 600;
}

.node-projekt .group-left {
    width: 60%;
}

.field-name-field-untertitel {
    font-weight: 600;
    color: lighten($font-color, 15%);
}

.node-projekt .group-right {
    width: 40%;
    margin-top: 13px;
    margin-top: .8125rem;
    text-align: right;
        .label-above {
            text-transform: uppercase;
            font-weight: 600;
            color: lighten($font-color, 30%);
        }
        .field p,
        .field a {
            font-weight: 600;
        }
}

.field-name-field-projekt- {
    &ort, &status, &bauherr, &wettbewerb, &team {
        p {
            margin-top: 0;
        }
    }
}

.field-name-field-projekt-kategorie,
.field-name-field-projekt-links {
    margin-bottom: 20px;
    margin-bottom: 1.5rem;
    a {
        display: block;
        @include hyphens(auto);
    }
}

.service-links img {
    @include border-radius(32px);
}