/* CSS code for projekte landing page => page view
**
** view name: Projekte Isotope View
** display powered by Views
** view mode: fields
** added by criscom
** /projekte
**
*/

// Alignment of content elements inline via floats

.view-projekte-isotope-view
{
    padding-top: 6px;
    padding-top: .375rem;

    @include clearfix();
    @include breakpoint($tablet)
    {
        > .view-header
        {
            float: left;

            // width: 24%; //25%;
            @include block-first-width;
            padding-top: 10px;
            padding-top: .625rem;
            h1 {
                margin-left: 10px;
            }
        }
        > .view-content
        {
            float: left;

            // width: 73%; // 75%;
            //margin-left: 0.5%;
            @include block-second-width;
        }
    }
}

// isotope elements in the main project view (project image)

.isotope-element
{
    width: 100%;
    height: auto;
    margin: 10px 0;
    img
        {
            width: 100%;
        }
    @include breakpoint($large) {
        width: 294px;
        height: 184px;
        margin: 10px;
        img {
            width: 294px;
        }
    }
    @include breakpoint($ipad) {
        width: 306px;
        height: 191px;
        margin: 10px;
        img {
            width: 306px;
        }
    }
    @include breakpoint($xlarge)
    {
        // width: 403px;
        // height: 252px;
        // width: 390px;
        // height: 244px;
        width: 374px;
        height: 234px;
        margin: 10px;
        img
        {
            width: 374px;
        }
    }
}

@include breakpoint($large) {
    .isotope-element:nth-child(odd) {
        margin-left: 0;
    }
    
    .isotope-element:nth-child(even) {
        margin-right: 0;
    }
}

// Position title and ort as a layer over the image with position:absolute

.projekte-wrapper-outer
{
    position: relative;
}

.projekte-wrapper-inner
{
    position: absolute;
    top: 4px;
    top: .375rem;
    width: 100%;

}

.projekte-titel,
.projekte-ort
{
    // padding-left: 10px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
}

.projekte-ort
{
    line-height: 12px;
    line-height: .75rem;
}

.project-title
{
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;

    margin: 6px 0 0 0;

    text-transform: uppercase;
}

.projekte-titel a
{
    text-decoration: none;

    color: $font-color !important;
    &:hover
    {
        text-decoration: underline;
    }
    &:visited
    {
        color: $font-color;
    }
}

.projekte-ort
{
    font-weight: 300;

    color: $font-color;
}

// isotope filters
//////////////////

.isotope-filters
{
    padding-left: 10px;
    @include breakpoint($range0-568)
    {
        margin-top: 0;
        margin-left: 0;
        li
        {
            display: inline;

            margin-right: 0;
            padding-right: 1%;
            a
            {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
    @include breakpoint($tablet)
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
                flex-direction: column;

        margin-top: 252px;

        -webkit-flex-direction: column;
            -ms-flex-direction: column;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
                align-items: flex-start;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    @media all and (max-width: 889px)
    {
        a
        {
            padding-left: 0 !important;

            text-align: left;
            white-space: normal;
        }
    }
    .no-flexbox &
    {
        li
        {
            display: block;
        }
    }
}

// remove button styling

.isotope-button,
.isotope-button.selected,
.isotope-button:hover,
.isotope-button.selected:hover
{
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
}

// apply our own stylings

.isotope-button
{
    text-transform: upperase;
    &:before
    {
        // content: "/// ";
    }
}

.isotope-button.selected
{
    font-weight: 600;

    color: $font-color;
}

.isotope-button:hover
{
    color: lighten($font-color,15%);
}
