/* CSS code for projekte landing page => page view
**
** view name: Projekte Isotope View
** display powered by Views
** view mode: fields
** added by criscom
** /projekte
**
*/

// Alignment of content elements inline via floats

.view-projekte-isotope-view {
    padding-top: 6px;
    padding-top: .375rem;
    @include clearfix();
    @include breakpoint($tablet){
        >.view-header {
            float: left;
            width: 25%;
            padding-top: 10px;
            padding-top: .625rem;
        }
        >.view-content {
            float: left;
            width: 75%;
    
        }
    }
}

// isotope elements in the main project view (project image)

.isotope-element {
    @include breakpoint($tablet){
        width: 403px;
        height: 252px;
        img {
            width: 403px;
        }
    }
}

// Position title and ort as a layer over the image with position:absolute

.projekte-wrapper-outer {
    position: relative;
}

.projekte-wrapper-inner {
    position: absolute;
    top: 4px;
    top: .375rem;
}

.projekte-titel,
.projekte-ort {
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.project-title {
    margin: 6px 0 0 0;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 600;

}

.projekte-titel a {
    color: $font-color !important;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $font-color;
    }
}

.projekte-ort {
    color: $font-color;
    font-weight: 300;
}

// isotope filters
//////////////////

.isotope-filters {
    @include breakpoint($tablet){
        margin-top: 252px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 0;
    }
    @media all and (max-width: 889px) {
        a {
            white-space: normal;
            padding-left: 0 !important;
            text-align: left;
        }
    }
    .no-flexbox & {
        li {
            display: block;
        }
    }
}

// remove button styling

.isotope-button,
.isotope-button.selected,
.isotope-button:hover,
.isotope-button.selected:hover {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    text-shadow: none;
}

// apply our own stylings

.isotope-button {
    text-transform: uppercase;
    &:before {
        content: "/// ";
    }
}

.isotope-button.selected {
    color: $font-color;
    font-weight: 600;
}

.isotope-button:hover {
    color: lighten($font-color,15%);

}